# Tvinga HTTPS och ta bort www
<IfModule mod_rewrite.c>
RewriteEngine On

# Om HTTP eller www används, omdirigera till https://mool.se
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.mool\.se$ [NC]
RewriteRule ^(.*)$ https://mool.se/$1 [R=301,L]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress